python
numpy
pandas
pip install scikit-learn   
pip install textblob   
pip install transformers 
pip install sacremoses   
pip install langdetect
pip install langid
pip install sentencepiece   
pip install torch torchvision torchaudio
pip install joblib    
pip install wordcloud  
pip install seaborn 
pip install matplotlib
                                          